@font-face {
    src: url('/assets/FONT/DigimonBasic.ttf');
    font-family: 'Digimon';
}

.title {
    font-family: Digimon;
    font-size: 48px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 28px;
    }
}

.terms {
    font-family: Digimon;
    font-size: 18px;
    color: white;
}

.nameDigimon {
    font-family: Digimon;
    font-size: 50px;
    text-align: center;
}

.lvlDigimon {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}